In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
import warnings; warnings.simplefilter('ignore')
%matplotlib inline

In [47]:
tmdb_credits = pd.read_csv("tmdb_5000_credits.csv")    # movie id, cast, crew
tmdb_movies = pd.read_csv("tmdb_5000_movies.csv")    # budget , genre etc

In [48]:
tmdb_credits.columns = ['id','tittle','cast','crew']
tmdb_movies = tmdb_movies.merge(tmdb_credits,on='id')

In [49]:
tmdb_movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [50]:
metadata = pd.read_csv('movies_metadata.csv')
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [51]:
vote_count = metadata[metadata['vote_count'].notnull()]['vote_count'].astype('int')
vote_average = metadata[metadata['vote_average'].notnull()]['vote_average'].astype('int')
vote_mean = vote_average.mean()
vote_mean

5.244896612406511

In [52]:
n = vote_count.quantile(0.95)
n

434.0

In [53]:
eligible = metadata[(metadata['vote_count'] >= n) & (metadata['vote_count'].notnull()) & (metadata['vote_average'].notnull())][['title', 'vote_count', 'vote_average', 'popularity', 'genres']]  
eligible['vote_count'] = eligible['vote_count'].astype('int')
eligible['vote_average'] = eligible['vote_average'].astype('int')
eligible.shape

(2274, 5)

In [54]:
# using imdb method of weighted average
def find_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+n) * R) + (n/(n+v) * vote_mean)

In [55]:
eligible['weighted_rating'] = eligible.apply(find_rating, axis =1)

In [56]:
eligible = eligible.sort_values('weighted_rating', ascending = False).head(250)

In [57]:
eligible.head(20)

,title,vote_count,vote_average,popularity,genres,weighted_rating
15480,Inception,14075,8,29.1081,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",7.917588
12481,The Dark Knight,12269,8,123.167,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",7.905871
22879,Interstellar,11187,8,32.2135,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",7.897107
2843,Fight Club,9678,8,63.8696,"[{'id': 18, 'name': 'Drama'}]",7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,8892,8,32.0707,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7.871787
292,Pulp Fiction,8670,8,140.95,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",7.868660
314,The Shawshank Redemption,8358,8,51.6454,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",7.864000
7000,The Lord of the Rings: The Return of the King,8226,8,29.3244,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7.861927
351,Forrest Gump,8147,8,48.3072,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",7.860656
5814,The Lord of the Rings: The Two Towers,7641,8,29.4235,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7.851924
256,Star Wars,6778,8,42.1497,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7.834205
1225,Back to the Future,6239,8,25.7785,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",7.820813
834,The Godfather,6024,8,41.1093,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",7.814847
1154,The Empire Strikes Back,5998,8,19.471,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7.814099
46,Se7en,5915,8,18.4574,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",7.811669
24860,The Imitation Game,5895,8,31.5959,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",7.811074
359,The Lion King,5520,8,21.6058,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",7.799175
18465,The Intouchables,5410,8,16.0869,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",7.795394
22841,The Grand Budapest Hotel,4644,8,14.442,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",7.764530
586,The Silence of the Lambs,4549,8,4.30722,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",7.760041

In [58]:
# CONTENT BASED RECOMMENDER BASED ON PLOT DESCRIPTION
tmdb_movies['overview'].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [59]:
#Defining a TF-IDF Vectorizer Object. Removing all the english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replacing NaN with empty string
tmdb_movies['overview'] = tmdb_movies['overview'].fillna('')

#Constructing required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(tmdb_movies['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(4803, 20978)

In [60]:
# using the cosine similarity score since it is independent of magnitude and and fast 
cosine_similarity = linear_kernel(tfidf_matrix, tfidf_matrix)

In [61]:
#Constructing a reverse map of indices and movie titles
indices = pd.Series(tmdb_movies.index, index=tmdb_movies['title']).drop_duplicates()

In [62]:
# function to find most similar movies
def recommend(title, cosine_similarity=cosine_similarity):
    # Index of the movie that matches the title
    index = indices[title]

    # Getting pairwise similarity scores of all movies with given movie
    similarity_scores = list(enumerate(cosine_similarity[index]))

    # Sort the movies based on the similarity scores
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    # Getting scores of the 10 most similar movies
    similarity_scores = similarity_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in similarity_scores]

    # Return the top 10 most similar movies
    return tmdb_movies['title'].iloc[movie_indices]

In [75]:
recommend("Shutter Island")

2225                         Inherent Vice
1015                                 K-PAX
169     Captain America: The First Avenger
1094                   Miracle at St. Anna
3285                              Restless
693                              Gone Girl
973                                  Basic
4411                                 Proud
3563                 Paranormal Activity 4
2377                       The Railway Man
Name: title, dtype: object